.slide img {
  height: 350px;
}

.productcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: cover;
}

.productcardhover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: cover;
}

#searchFieldText {
  box-shadow: 10px 10px 5px grey;
}

.bmd-form-group {
  position: relative;
  padding-top: 0px;
}
